block head 
   nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
     div.navbar-collapse.collapse
      ul.nav.navbar-nav
       li.active
        a My account
       li
        a My project
       li
        a Contact me 
       li
        a #{title}