extends ../layout

block content
 h1
  div.panel.panel-primary
   div.panel-heading
    h3.panel-title #{title} #{error}
   div.panel-body
    form(name="login", action="signin",method="post")
     div.form-group
      label.control-label User Name
      input(type="text", name="user",class="required form-control",placeholder="User name")
     div.form-group
      label.control-label Mail adress
      input(type="mail", name="email",class="required form-control",placeholder="Email")
     div.form-group
      label.control-label Password
      input(type="password", name="password" ,class="password required form-control",placeholder="Password")
     div.form-group
      label.control-label Confirm Password
      input(type="password", name="confirmpassword",class="password required form-control",placeholder="Confirm password")
     div.form-group
      input(type="submit", value="Create User", class="btn btn-success")